In [257]:
import pandas as pd

In [258]:
df=pd.read_csv('updated_data.csv')

In [259]:
df.head()

   Day                 Fine Gold                 Standard Gold        Silver
0    1  FINE GOLD (9999): 101500  STANDARD GOLD (9950): 101000  Silver: 1400
1    2  FINE GOLD (9999): 102000  STANDARD GOLD (9950): 101500  Silver: 1415
2    4  FINE GOLD (9999): 102000  STANDARD GOLD (9950): 101500  Silver: 1415
3    5  FINE GOLD (9999): 102500  STANDARD GOLD (9950): 102000  Silver: 1420
4    6  FINE GOLD (9999): 102100  STANDARD GOLD (9950): 101600  Silver: 1420

In [260]:
df.columns

Index(['Day', 'Fine Gold', 'Standard Gold', 'Silver'], dtype='object')

In [261]:
df.head()

   Day                 Fine Gold                 Standard Gold        Silver
0    1  FINE GOLD (9999): 101500  STANDARD GOLD (9950): 101000  Silver: 1400
1    2  FINE GOLD (9999): 102000  STANDARD GOLD (9950): 101500  Silver: 1415
2    4  FINE GOLD (9999): 102000  STANDARD GOLD (9950): 101500  Silver: 1415
3    5  FINE GOLD (9999): 102500  STANDARD GOLD (9950): 102000  Silver: 1420
4    6  FINE GOLD (9999): 102100  STANDARD GOLD (9950): 101600  Silver: 1420

In [262]:
df=df.rename(columns={'3':'Day','FINE GOLD (9999): 110000':'Fine Gold',
                      'STANDARD GOLD (9950): 109500':'Standard Gold','Silver: 1450':'Silver'})

In [263]:
df.head()

   Day                 Fine Gold                 Standard Gold        Silver
0    1  FINE GOLD (9999): 101500  STANDARD GOLD (9950): 101000  Silver: 1400
1    2  FINE GOLD (9999): 102000  STANDARD GOLD (9950): 101500  Silver: 1415
2    4  FINE GOLD (9999): 102000  STANDARD GOLD (9950): 101500  Silver: 1415
3    5  FINE GOLD (9999): 102500  STANDARD GOLD (9950): 102000  Silver: 1420
4    6  FINE GOLD (9999): 102100  STANDARD GOLD (9950): 101600  Silver: 1420

In [264]:
df['Day'] = df.index + 1

In [265]:
df

     Day                 Fine Gold                 Standard Gold        Silver
0      1  FINE GOLD (9999): 101500  STANDARD GOLD (9950): 101000  Silver: 1400
1      2  FINE GOLD (9999): 102000  STANDARD GOLD (9950): 101500  Silver: 1415
2      3  FINE GOLD (9999): 102000  STANDARD GOLD (9950): 101500  Silver: 1415
3      4  FINE GOLD (9999): 102500  STANDARD GOLD (9950): 102000  Silver: 1420
4      5  FINE GOLD (9999): 102100  STANDARD GOLD (9950): 101600  Silver: 1420
..   ...                       ...                           ...           ...
597  598  FINE GOLD (9999): 136200  STANDARD GOLD (9950): 135550  Silver: 1685
598  599  FINE GOLD (9999): 136300  STANDARD GOLD (9950): 135650  Silver: 1685
599  600  FINE GOLD (9999): 136800  STANDARD GOLD (9950): 136150  Silver: 1700
600  601  FINE GOLD (9999): 136600  STANDARD GOLD (9950): 135950  Silver: 1700
601  602  FINE GOLD (9999): 139000  STANDARD GOLD (9950): 138350  Silver: 1750

[602 rows x 4 columns]

In [266]:
df['Fine Gold']=df['Fine Gold'].str.replace('FINE GOLD \(9999\): ', '', regex=True)
df['Standard Gold']=df['Standard Gold'].str.replace('STANDARD GOLD \(9950\): ', '', regex=True)
df['Silver']=df['Silver'].str.replace('Silver: ', '', regex=True)

In [267]:
df

     Day Fine Gold Standard Gold Silver
0      1    101500        101000   1400
1      2    102000        101500   1415
2      3    102000        101500   1415
3      4    102500        102000   1420
4      5    102100        101600   1420
..   ...       ...           ...    ...
597  598    136200        135550   1685
598  599    136300        135650   1685
599  600    136800        136150   1700
600  601    136600        135950   1700
601  602    139000        138350   1750

[602 rows x 4 columns]

In [280]:
df.corr()

                    Day  Fine Gold  Standard Gold    Silver
Day            1.000000   0.927844       0.927875  0.759218
Fine Gold      0.927844   1.000000       0.999999  0.889808
Standard Gold  0.927875   0.999999       1.000000  0.889891
Silver         0.759218   0.889808       0.889891  1.000000

In [281]:
df.describe()

              Day      Fine Gold  Standard Gold       Silver
count  602.000000     602.000000     602.000000   602.000000
mean   301.500000  107396.179402  106869.435216  1353.945183
std    173.926709    9885.292291    9855.082864   107.174071
min      1.000000   91300.000000   90800.000000  1100.000000
25%    151.250000   98000.000000   97500.000000  1275.000000
50%    301.500000  109000.000000  108500.000000  1375.000000
75%    451.750000  113000.000000  112450.000000  1420.000000
max    602.000000  139000.000000  138350.000000  1750.000000

In [282]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 602 entries, 0 to 601
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Day            602 non-null    int64
 1   Fine Gold      602 non-null    float64
 2   Standard Gold  602 non-null    float64
 3   Silver         602 non-null    float64
dtypes: float64(3), int64(1)
memory usage: 18.9 KB

In [268]:
df['Fine Gold']=df['Fine Gold'].astype(float)
df['Standard Gold']=df['Standard Gold'].astype(float)
df['Silver']=df['Silver'].astype(float)

In [269]:
from matplotlib import pyplot as plt
import seaborn as sns

In [270]:
import warnings
warnings.filterwarnings("ignore")
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier

In [271]:
x=df[['Day']]
y=df['Fine Gold']

In [272]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [273]:
#from sklearn.preprocessing import StandardScaler
#scaler = StandardScaler()
#X_train_scaled=scaler.fit_transform(X_train)

In [274]:
#X_train_scaled

In [275]:
#X_test_scaled=scaler.transform(X_test)

In [276]:
#X_test_scaled

In [277]:
model=LinearRegression()
model.fit(X_train,y_train)

LinearRegression()

In [278]:
accuracy_score=model.score(X_test,y_test)
print("the accuracy of the model is",accuracy_score)

the accuracy of the model is 0.8586460146611159

In [279]:
y_pred=model.predict([[602]])
y_pred

array([123025.77014545])