In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('updated_data.csv')

In [3]:
df.head()

   Day                 Fine Gold                 Standard Gold        Silver
0    1  FINE GOLD (9999): 101500  STANDARD GOLD (9950): 101000  Silver: 1400
1    2  FINE GOLD (9999): 102000  STANDARD GOLD (9950): 101500  Silver: 1415
2    4  FINE GOLD (9999): 102000  STANDARD GOLD (9950): 101500  Silver: 1415
3    5  FINE GOLD (9999): 102500  STANDARD GOLD (9950): 102000  Silver: 1420
4    6  FINE GOLD (9999): 102100  STANDARD GOLD (9950): 101600  Silver: 1420

In [4]:
df.columns

Index(['Day', 'Fine Gold', 'Standard Gold', 'Silver'], dtype='object')

In [5]:
df.head()

   Day                 Fine Gold                 Standard Gold        Silver
0    1  FINE GOLD (9999): 101500  STANDARD GOLD (9950): 101000  Silver: 1400
1    2  FINE GOLD (9999): 102000  STANDARD GOLD (9950): 101500  Silver: 1415
2    4  FINE GOLD (9999): 102000  STANDARD GOLD (9950): 101500  Silver: 1415
3    5  FINE GOLD (9999): 102500  STANDARD GOLD (9950): 102000  Silver: 1420
4    6  FINE GOLD (9999): 102100  STANDARD GOLD (9950): 101600  Silver: 1420

In [6]:
df=df.rename(columns={'3':'Day','FINE GOLD (9999): 110000':'Fine Gold',
                      'STANDARD GOLD (9950): 109500':'Standard Gold','Silver: 1450':'Silver'})

In [7]:
df.head()

   Day                 Fine Gold                 Standard Gold        Silver
0    1  FINE GOLD (9999): 101500  STANDARD GOLD (9950): 101000  Silver: 1400
1    2  FINE GOLD (9999): 102000  STANDARD GOLD (9950): 101500  Silver: 1415
2    4  FINE GOLD (9999): 102000  STANDARD GOLD (9950): 101500  Silver: 1415
3    5  FINE GOLD (9999): 102500  STANDARD GOLD (9950): 102000  Silver: 1420
4    6  FINE GOLD (9999): 102100  STANDARD GOLD (9950): 101600  Silver: 1420

In [8]:
df['Day'] = df.index + 1

In [9]:
df

     Day                 Fine Gold                 Standard Gold        Silver
0      1  FINE GOLD (9999): 101500  STANDARD GOLD (9950): 101000  Silver: 1400
1      2  FINE GOLD (9999): 102000  STANDARD GOLD (9950): 101500  Silver: 1415
2      3  FINE GOLD (9999): 102000  STANDARD GOLD (9950): 101500  Silver: 1415
3      4  FINE GOLD (9999): 102500  STANDARD GOLD (9950): 102000  Silver: 1420
4      5  FINE GOLD (9999): 102100  STANDARD GOLD (9950): 101600  Silver: 1420
..   ...                       ...                           ...           ...
597  598  FINE GOLD (9999): 136200  STANDARD GOLD (9950): 135550  Silver: 1685
598  599  FINE GOLD (9999): 136300  STANDARD GOLD (9950): 135650  Silver: 1685
599  600  FINE GOLD (9999): 136800  STANDARD GOLD (9950): 136150  Silver: 1700
600  601  FINE GOLD (9999): 136600  STANDARD GOLD (9950): 135950  Silver: 1700
601  602  FINE GOLD (9999): 139000  STANDARD GOLD (9950): 138350  Silver: 1750

[602 rows x 4 columns]

In [10]:
df['Fine Gold']=df['Fine Gold'].str.replace('FINE GOLD \(9999\): ', '', regex=True)
df['Standard Gold']=df['Standard Gold'].str.replace('STANDARD GOLD \(9950\): ', '', regex=True)
df['Silver']=df['Silver'].str.replace('Silver: ', '', regex=True)

In [11]:
df

     Day Fine Gold Standard Gold Silver
0      1    101500        101000   1400
1      2    102000        101500   1415
2      3    102000        101500   1415
3      4    102500        102000   1420
4      5    102100        101600   1420
..   ...       ...           ...    ...
597  598    136200        135550   1685
598  599    136300        135650   1685
599  600    136800        136150   1700
600  601    136600        135950   1700
601  602    139000        138350   1750

[602 rows x 4 columns]

In [12]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier

/Users/bibekrai/tensorflow-test/env/lib/python3.10/site-packages/scipy/__init__.py:155: UserWarning: A NumPy version >=1.18.5 and <1.26.0 is required for this version of SciPy (detected version 1.26.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [13]:
x=df[['Day']]
y=df['Fine Gold']

In [14]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [15]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train_scaled=scaler.fit_transform(X_train)

In [16]:
X_train_scaled

array([[-1.44339667e+00],
       [ 4.36783700e-01],
       [ 1.01574168e+00],
       [-1.69561599e+00],
       [-7.78454832e-01],
       [-6.23683887e-01],
       [-9.44690291e-01],
       [ 7.97915905e-01],
       [-6.29416144e-01],
       [-8.64438690e-01],
       [ 1.68068352e+00],
       [-1.03323639e-02],
       [ 7.56514945e-02],
       [-6.00754858e-01],
       [-1.25996444e+00],
       [-1.35741281e+00],
       [-2.51087167e-01],
       [-3.71464569e-01],
       [-1.88032338e-01],
       [-5.14770999e-01],
       [-7.32596774e-01],
       [ 8.95364277e-01],
       [ 1.41126743e+00],
       [ 7.52057847e-01],
       [ 1.55903096e-01],
       [ 8.38041705e-01],
       [-1.09946124e+00],
       [-1.59816761e+00],
       [-9.10296748e-01],
       [ 5.28499815e-01],
       [-1.47906537e-01],
       [ 9.85805234e-02],
       [-1.59243536e+00],
       [-9.96280606e-01],
       [ 5.91554645e-01],
       [-6.40880658e-01],
       [-1.64402567e+00],
       [ 7.00467532e-01],
       [ 1.69214803e+00],
       [ 1.42273194e+00],
       [ 1.44566097e+00],
       [-2.22425881e-01],
       [-1.01920964e+00],
       [-7.33871933e-02],
       [-1.12812252e+00],
       [-1.23703541e+00],
       [ 1.56030612e+00],
       [-4.28787141e-01],
       [ 1.10045038e-01],
       [ 1.09599328e+00],
       [-6.76549361e-02],
       [ 3.55256939e-02],
       [-1.43766441e+00],
       [-1.44912893e+00],
       [ 2.59083726e-01],
       [-1.72427727e+00],
       [ 9.12561049e-01],
       [ 2.70548240e-01],
       [-4.05858112e-01],
       [-9.33225777e-01],
       [-1.13512994e-01],
       [ 5.27224656e-02],
       [ 7.63522361e-01],
       [ 2.07493411e-01],
       [-4.97574228e-01],
       [-1.03067415e+00],
       [ 1.31381905e+00],
       [-9.56154806e-01],
       [-8.75903205e-01],
       [ 1.67495126e+00],
       [ 4.31051442e-01],
       [ 1.48005451e+00],
       [-1.47205796e+00],
       [ 1.54884160e+00],
       [ 1.54310934e+00],
       [ 1.61635353e-01],
       [ 1.32528357e+00],
       [-1.50071924e+00],
       [ 5.34232072e-01],
       [ 1.50170838e-01],
       [-1.63829342e+00],
       [ 1.30808680e+00],
       [ 8.72435248e-01],
       [ 9.64151364e-01],
       [ 3.62264356e-01],
       [-1.20264187e+00],
       [-1.15678381e+00],
       [-1.58097084e+00],
       [-6.98203231e-01],
       [-4.51716170e-01],
       [-1.66122244e+00],
       [-1.59371052e-01],
       [-5.03306485e-01],
       [ 2.36154697e-01],
       [-1.56377407e+00],
       [ 1.06733199e+00],
       [ 8.60970734e-01],
       [ 6.25948188e-01],
       [ 5.62893358e-01],
       [-1.66695470e+00],
       [-9.21761262e-01],
       [ 1.19917391e+00],
       [ 1.05013522e+00],
       [ 1.02147394e+00],
       [-8.24312890e-01],
       [ 5.05570786e-01],
       [-1.11092575e+00],
       [-2.33890396e-01],
       [ 1.39980291e+00],
       [-3.14141997e-01],
       [-1.53638794e-01],
       [ 1.37114163e+00],
       [ 7.11932046e-01],
       [ 1.13611908e+00],
       [ 1.01000942e+00],
       [ 1.11892231e+00],
       [-1.25423218e+00],
       [ 4.19586928e-01],
       [-1.26569670e+00],
       [ 2.41886954e-01],
       [-4.80377456e-01],
       [ 1.38706324e-01],
       [ 8.15112676e-01],
       [ 1.56603837e+00],
       [ 4.59712728e-01],
       [ 1.10745779e+00],
       [-4.86109713e-01],
       [-9.73351577e-01],
       [ 7.17664303e-01],
       [ 6.14483673e-01],
       [ 2.30422440e-01],
       [-1.34021604e+00],
       [-2.17968783e-02],
       [-4.34519398e-01],
       [ 2.93477269e-01],
       [ 2.53351468e-01],
       [-1.64975793e+00],
       [-1.15105155e+00],
       [-2.62551682e-01],
       [-1.16824832e+00],
       [-3.89936500e-02],
       [-3.65732312e-01],
       [-6.69541944e-01],
       [-4.45983913e-01],
       [ 1.47432226e+00],
       [-2.74016196e-01],
       [ 1.29662228e+00],
       [ 6.60341731e-01],
       [-1.28289347e+00],
       [ 1.18770940e+00],
       [ 9.69883621e-01],
       [-3.94393598e-01],
       [-3.77196826e-01],
       [-1.38607410e+00],
       [-6.92470973e-01],
       [ 1.51444806e+00],
       [ 6.37412702e-01],
       [-4.47259072e-02],
       [ 1.11319005e+00],
       [-5.77825829e-01],
       [ 1.52591257e+00],
       [ 1.57750289e+00],
       [ 6.20215931e-01],
       [-6.58077430e-01],
       [-8.81635462e-01],
       [-1.51218376e+00],
       [ 1.49151903e+00],
       [ 9.29757821e-01],
       [ 1.68641577e+00],
       [ 1.39407066e+00],
       [-2.05229109e-01],
       [ 1.14758360e+00],
       [-4.63180684e-01],
       [ 1.04312781e-01],
       [-7.21132259e-01],
       [-1.93764595e-01],
       [-4.74645199e-01],
       [ 1.08452877e+00],
       [-8.70170947e-01],
       [ 1.26222874e+00],
       [-9.67619320e-01],
       [ 1.62336094e+00],
       [-1.46059344e+00],
       [ 5.57161101e-01],
       [-1.68988373e+00],
       [ 1.62909320e+00],
       [ 3.73728870e-01],
       [-1.07653221e+00],
       [ 1.23356745e+00],
       [ 5.97286902e-01],
       [-7.09667745e-01],
       [-1.62109664e+00],
       [-2.79748453e-01],
       [-1.36887733e+00],
       [-9.61887063e-01],
       [-1.53511279e+00],
       [ 5.85822387e-01],
       [-1.29435798e+00],
       [ 9.52686850e-01],
       [-8.47241918e-01],
       [ 1.78832125e-01],
       [ 1.21509552e-01],
       [-4.57448427e-01],
       [-5.43432286e-01],
       [ 9.18293306e-01],
       [ 1.03867071e+00],
       [ 1.65775449e+00],
       [-8.93099976e-01],
       [-1.19245251e-01],
       [ 1.58896740e+00],
       [ 1.25649648e+00],
       [ 7.86451390e-01],
       [-1.48925473e+00],
       [-1.71854502e+00],
       [ 8.09380419e-01],
       [ 1.22783520e+00],
       [-5.89290343e-01],
       [-4.68912942e-01],
       [ 1.46859000e+00],
       [ 5.74357873e-01],
       [-8.48517077e-02],
       [ 9.98544907e-01],
       [ 1.43419646e+00],
       [ 7.69254618e-01],
       [-1.55804181e+00],
       [-7.03935488e-01],
       [-1.07780737e-01],
       [-7.84187089e-01],
       [ 1.63482546e+00],
       [-1.24977508e-01],
       [ 1.48578677e+00],
       [-1.42619990e+00],
       [ 1.36540937e+00],
       [ 1.00427716e+00],
       [-1.54084504e+00],
       [ 7.06199789e-01],
       [ 1.45139323e+00],
       [ 6.94735275e-01],
       [-5.26235514e-01],
       [-4.17322627e-01],
       [-1.23130315e+00],
       [ 1.67367610e-01],
       [-1.70835566e-01],
       [ 1.73099867e-01],
       [-1.36442023e-01],
       [-2.45354910e-01],
       [-1.07079995e+00],
       [ 1.40553517e+00],
       [ 1.25966650e-02],
       [ 1.20490617e+00],
       [-1.67268696e+00],
       [ 7.46325590e-01],
       [ 2.40611795e-02],
       [ 4.71177243e-01],
       [-1.60389987e+00],
       [ 1.30235454e+00],
       [-7.91194505e-02],
       [ 1.29089003e+00],
       [ 1.12465457e+00],
       [ 1.23929971e+00],
       [-1.37460958e+00],
       [-2.96945225e-01],
       [-1.20837412e+00],
       [-1.27716121e+00],
       [ 1.32974067e-01],
       [ 8.26577191e-01],
       [-1.73000953e+00],
       [ 2.87745012e-01],
       [ 8.66702991e-01],
       [ 1.38833840e+00],
       [ 1.60616417e+00],
       [-1.73574179e+00],
       [-1.31155475e+00],
       [-7.38329031e-01],
       [ 1.70934480e+00],
       [ 1.14185134e+00],
       [ 3.56532098e-01],
       [-1.30709766e-01],
       [ 1.15331585e+00],
       [ 1.59469966e+00],
       [ 1.57177063e+00],
       [-5.49164543e-01],
       [-7.26864517e-01],
       [ 6.43144960e-01],
       [-2.10961367e-01],
       [ 5.51428844e-01],
       [ 1.03293845e+00],
       [ 4.13854671e-01],
       [ 1.42846420e+00],
       [-9.50422548e-01],
       [ 9.75615878e-01],
       [ 8.32309448e-01],
       [-6.19226789e-02],
       [-3.82929083e-01],
       [-2.91212968e-01],
       [-2.28158138e-01],
       [ 5.45696587e-01],
       [ 7.74986876e-01],
       [ 9.46954592e-01],
       [ 9.81348136e-01],
       [ 3.79461127e-01],
       [ 1.41699968e+00],
       [-4.40251656e-01],
       [ 1.17624488e+00],
       [-4.00125855e-01],
       [-4.23054884e-01],
       [-1.24276767e+00],
       [ 5.80090130e-01],
       [-7.55525803e-01],
       [ 6.89003017e-01],
       [ 4.94106272e-01],
       [-3.02677482e-01],
       [ 4.65444986e-01],
       [-1.00774512e+00],
       [-1.13385478e+00],
       [-6.81006459e-01],
       [ 8.89632020e-01],
       [ 6.48877217e-01],
       [ 1.28515777e+00],
       [ 1.66921900e+00],
       [-6.86738716e-01],
       [ 1.34821260e+00],
       [ 9.35490078e-01],
       [ 1.21637068e+00],
       [-3.60000054e-01],
       [-7.44061288e-01],
       [ 1.09026102e+00],
       [ 1.07306425e+00],
       [-7.72722575e-01],
       [ 4.88374015e-01],
       [-1.02048479e-01],
       [ 6.83270760e-01],
       [ 1.60043192e+00],
       [ 7.92183647e-01],
       [ 1.50298354e+00],
       [-1.08799672e+00],
       [ 1.35967711e+00],
       [-1.43193216e+00],
       [ 8.20844933e-01],
       [-8.18580632e-01],
       [-3.32613927e-02],
       [ 1.21063842e+00],
       [ 2.76280497e-01],
       [ 6.66073988e-01],
       [-1.13958704e+00],
       [-7.95651603e-01],
       [ 7.23396561e-01],
       [-1.05933544e+00],
       [ 2.82012755e-01],
       [-9.16029005e-01],
       [ 1.13215059e-03],
       [ 1.22210294e+00],
       [-3.08409739e-01],
       [-1.14531929e+00],
       [-3.37071026e-01],
       [ 1.65202223e+00],
       [ 2.47619211e-01],
       [-1.54657730e+00],
       [ 5.68625616e-01],
       [-1.57523859e+00],
       [ 1.52018031e+00],
       [-1.52938053e+00],
       [ 9.41222335e-01],
       [-1.32875153e+00],
       [ 1.19344165e+00],
       [-1.17398058e+00],
       [ 2.99209526e-01],
       [-1.70708050e+00],
       [ 1.46285774e+00],
       [-1.12239027e+00],
       [-3.31338768e-01],
       [-4.60010663e-03],
       [-9.90548349e-01],
       [-7.66990317e-01],
       [ 5.22767558e-01],
       [ 1.04440297e+00],
       [-5.83558086e-01],
       [-3.25606511e-01],
       [ 1.69788029e+00],
       [-1.62682890e+00],
       [ 4.02390156e-01],
       [-1.67841922e+00],
       [-6.12219372e-01],
       [ 1.96028896e-01],
       [ 4.42515957e-01],
       [-3.88661341e-01],
       [-1.42046764e+00],
       [-6.17951629e-01],
       [ 1.58323514e+00],
       [-1.35168055e+00],
       [-1.58670310e+00],
       [-1.40900313e+00],
       [ 9.01096535e-01],
       [-8.12848375e-01],
       [-8.87367719e-01],
       [ 9.06828792e-01],
       [-5.72093572e-01],
       [ 3.04941783e-01],
       [ 3.27870812e-01],
       [ 1.53737709e+00],
       [-2.68283939e-01],
       [-1.30582250e+00],
       [ 1.61189643e+00],
       [-1.04213866e+00],
       [ 4.48248214e-01],
       [ 9.58419107e-01],
       [ 1.27369325e+00],
       [ 4.76909500e-01],
       [-1.63256116e+00],
       [-1.08226446e+00],
       [ 4.12579512e-02],
       [ 4.53980471e-01],
       [-6.63809687e-01],
       [ 2.18957925e-01],
       [ 1.33101583e+00],
       [-1.49498698e+00],
       [ 1.45712549e+00],
       [ 1.16478037e+00],
       [ 7.57790104e-01],
       [-1.21410638e+00],
       [-9.63162222e-02],
       [ 4.69902084e-02],
       [ 6.31680445e-01],
       [ 3.10674041e-01],
       [-1.17971284e+00],
       [-3.48535540e-01],
       [-1.76567823e-01],
       [ 6.08751416e-01],
       [ 7.34861075e-01],
       [ 1.18197714e+00],
       [-2.16693624e-01],
       [-6.52345173e-01],
       [-1.27142895e+00],
       [ 1.02720619e+00],
       [-1.50645150e+00],
       [ 1.43992871e+00],
       [-1.46632570e+00],
       [-3.19874254e-01],
       [-1.30009024e+00],
       [-4.91841971e-01],
       [ 1.84564382e-01],
       [-8.07116118e-01],
       [ 4.08122413e-01],
       [ 8.49506220e-01],
       [-5.61904216e-02],
       [ 3.85193385e-01],
       [-6.06487115e-01],
       [ 7.29128818e-01],
       [ 3.39335327e-01],
       [-1.34594830e+00],
       [ 1.90296639e-01],
       [-1.05360318e+00],
       [ 1.27942551e+00],
       [-1.99496852e-01],
       [-3.54267797e-01],
       [ 4.99838529e-01],
       [-1.22557090e+00],
       [-1.38034184e+00],
       [ 1.83289223e-02],
       [-1.60963213e+00],
       [ 1.66348675e+00],
       [-1.39180635e+00],
       [-5.20503257e-01],
       [-1.61536439e+00],
       [ 2.01761153e-01],
       [-9.27493520e-01],
       [-1.47779021e+00],
       [-1.09372898e+00],
       [-9.04564491e-01],
       [ 5.84547228e-02],
       [-1.16251607e+00],
       [-1.51791601e+00],
       [ 8.13837517e-02],
       [ 1.15777295e-01],
       [-1.19117735e+00],
       [ 2.24690182e-01],
       [ 7.40593332e-01],
       [-2.75291355e-02],
       [-1.02494189e+00],
       [-1.52364827e+00],
       [ 1.50871580e+00]])

In [17]:
X_test_scaled=scaler.transform(X_test)

In [18]:
X_test_scaled

array([[ 0.80364816],
       [ 1.38260614],
       [-0.01606462],
       [ 0.39092564],
       [-1.32301927],
       [ 0.85523848],
       [-0.6752742 ],
       [ 1.15904811],
       [-1.24849992],
       [-0.85870643],
       [-1.01347738],
       [ 1.37687388],
       [ 1.05586748],
       [ 0.00686441],
       [ 0.6775385 ],
       [ 0.21322567],
       [ 0.08711601],
       [ 1.49725129],
       [-0.85297418],
       [ 0.34506758],
       [-0.64661292],
       [ 0.99281265],
       [-1.40327087],
       [-0.89883223],
       [ 1.17051262],
       [-0.97908383],
       [ 0.87816751],
       [ 1.31955131],
       [-1.68415147],
       [ 1.06159974],
       [ 0.3164063 ],
       [-0.14217428],
       [ 0.09284827],
       [ 0.32213856],
       [-1.33448378],
       [ 0.78071913],
       [-1.65549019],
       [-1.48352247],
       [ 1.07879651],
       [-0.83004515],
       [ 0.60301916],
       [ 0.84377396],
       [ 0.67180625],
       [ 0.26481598],
       [ 1.13038682],
       [-1.36314507],
       [-1.45486118],
       [ 1.53164483],
       [ 1.55457386],
       [-0.53770003],
       [-0.05045816],
       [ 0.5170353 ],
       [ 0.02979344],
       [ 1.267961  ],
       [ 1.64055772],
       [-1.11665801],
       [-0.5548968 ],
       [-0.74979355],
       [ 1.64628997],
       [-1.19690961],
       [-0.7154    ],
       [ 1.34248034],
       [-0.16510331],
       [-1.55230956],
       [-0.98481609],
       [-1.41473538],
       [ 1.70361255],
       [-1.56950633],
       [ 0.53996433],
       [-1.71281276],
       [ 0.42531919],
       [-1.21983864],
       [ 0.12724181],
       [-1.00201286],
       [-1.18544509],
       [-0.28548071],
       [-0.09058396],
       [ 1.10172554],
       [ 1.24503197],
       [-0.84150966],
       [-0.18230008],
       [ 0.92402556],
       [-0.8357774 ],
       [ 0.06991924],
       [ 1.61762869],
       [ 0.65460947],
       [-1.31728701],
       [ 0.06418698],
       [-1.06506769],
       [ 1.25076423],
       [-0.23962265],
       [-0.76125806],
       [-1.10519349],
       [-0.56636131],
       [ 1.33674808],
       [-0.50903874],
       [-1.39753861],
       [-0.6351484 ],
       [ 0.35079984],
       [-1.03640641],
       [ 0.14443858],
       [-0.53196777],
       [-1.28862572],
       [ 0.3966579 ],
       [-0.56062906],
       [-0.93895803],
       [-0.25681942],
       [-0.41159037],
       [ 0.36799661],
       [-0.34280328],
       [ 0.98708039],
       [ 0.51130304],
       [-0.80138386],
       [-1.04787092],
       [ 0.88389976],
       [-1.70134824],
       [-0.78991935],
       [ 1.35394486],
       [-0.5950226 ],
       [ 0.33360307],
       [ 0.48264176]])

In [19]:
model=LinearRegression()
model.fit(X_train_scaled,y_train)
model.predict(X_test_scaled)

array([114953.84998309, 120232.63230723, 107479.93045485, 111190.75763321,
        95563.47134689, 115424.23652682, 101469.43572934, 118194.29061771,
        96242.91857673,  99796.95024051,  98385.7906093 , 120180.3671357 ,
       117253.51753024, 107688.99114095, 113804.01620951, 109570.5373159 ,
       108420.70354232, 121277.93573775,  99849.21541203, 110772.636261  ,
       101730.76158698, 116678.60064345,  94831.75894553,  99431.09403983,
       118298.82096076,  98699.38163846, 115633.29721293, 119657.71542044,
        92270.76554075, 117305.78270176, 110511.31040337, 106330.09668127,
       108472.96871385, 110563.57557489,  95458.94100384, 114744.78929698,
        92532.09139838,  94100.04654416, 117462.57821634, 100058.27609814,
       113124.56897967, 115319.70618377, 113751.75103799, 110040.92385963,
       117932.96476008,  95197.61514621,  94361.37240179, 121591.52676691,
       121800.58745301, 102723.79984597, 107166.33942569, 112340.59140678,
       107898.05182706, 119187.3288767 , 122584.5650259 ,  97445.01752183,
       102567.00433139, 100789.9884995 , 122636.83019743,  96713.30512047,
       101103.57952866, 119866.77610654, 106121.03599517,  93472.86448585,
        98647.11646693,  94727.22860247, 123159.48191269,  93316.06897127,
       112549.65209288,  92009.43968311, 111504.34866236,  96504.24443436,
       108786.559743  ,  98490.32095235,  96817.83546352, 105023.46739312,
       106800.48322501, 117671.63890245, 118978.2681906 ,  99953.74575509,
       105964.24048059, 116051.41858514, 100006.01092661, 108263.90802774,
       122375.5043398 , 113594.95552341,  95615.73651842, 108211.64285622,
        97915.40406557, 119030.53336213, 105441.58876533, 100685.45815645,
        97549.54786488, 102462.47398834, 119814.51093502, 102985.1257036 ,
        94884.02411705, 101835.29193003, 110824.90143252,  98176.7299232 ,
       108943.35525758, 102776.0650175 ,  95877.06237605, 111243.02280473,
       102514.73915987,  99065.23783914, 105284.79325075, 103873.63361955,
       110981.6969471 , 104500.81567786, 116626.33547192, 112288.32623525,
       100319.60195577,  98072.19958015, 115685.56238445,  92113.97002617,
       100424.13229882, 119971.3064496 , 102201.14813071, 110668.10591794,
       112027.00037762])

In [20]:
accuracy_score=model.score(X_test_scaled,y_test)
print("the accuracy of the model is",accuracy_score)

the accuracy of the model is 0.8525661347242719

In [21]:
y_pred=model.predict([[304]])
y_pred

array([2879416.21073371])